<link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/icons/apple-icon-144x144.png" | relURL }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "/images/icons/android-icon-192x192.png" | relURL }}"
      media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "/images/icons/android-icon-192x192-inverted.png" | relURL }}"
      media="(prefers-color-scheme: dark)">
<link rel="shortcut icon" href="{{ "/images/icons/favicon-32x32.png" | relURL }}" type="image/x-icon"
      media="(prefers-color-scheme: light)">
<link rel="shortcut icon" href="{{ "/images/icons/favicon-32x32-inverted.png" | relURL }}" type="image/x-icon"
      media="(prefers-color-scheme: dark)">

<link rel="icon" type="image/png" sizes="64x64" href="{{ "/images/icons/favicon-64x64.png" | relURL }}"
      media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="64x64" href="{{ "/images/icons/favicon-64x64-inverted.png" | relURL }}"
      media="(prefers-color-scheme: dark)">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/icons/favicon-96x96.png" | relURL }}"
      media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/icons/favicon-96x96-inverted.png" | relURL }}"
      media="(prefers-color-scheme: dark)">
