<section id="schedule" class="schedule container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card my-3">
        <div class="card-body">
          <h3 class="card-title text-center text-uppercase">
            <b>{{ i18n "schedule" }}</b>
          </h3>
          <div style="text-align: center; margin-bottom: 20px;">
            This schedule is only preliminary and subject to change.
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Tue</small> 21</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      18:00-20:00
                    </th>
                    <td class="scheduled-title">
                      Conference dinner
                    </td>
                  </tr>

                  <tr>
                    <th class="scheduled-time">
                      20:00-21:00
                    </th>
                    <td class="scheduled-title">
                      Flash Talks<br />
                      <small>We will have a round of flash talks for everyone to introduce themselves and their
                        projects.</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Wed</small> 22</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-10:30
                    </th>
                    <td class="scheduled-title">
                      Welcome and Introduction
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      10:30-11:30
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">Matplotlib: Tips, tricks, and common pitfalls</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      11:30-12:00
                    </th>
                    <td class="scheduled-title">
                      Icebreaker - "Find a collaborator" / Coffee
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:00-12:30
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">Fisher information matrix forecasts and Bayesian inference</span>
                      <hr>
                      <span class="scheduled-session">Spectroscopic intuition</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:30-13:30
                    </th>
                    <td class="scheduled-title">
                      Lunch
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      13:30-15:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-project">Modelling Interstellar-Medium Spectroscopic Features</span>
                      <hr>
                      <span class="scheduled-project">Bayesian Inference in the Machine Learning Era</span>
                      <hr>
                      <span class="scheduled-project">julia-nbody-io</span>
                      <hr>
                      <span class="scheduled-project">Exploring interactive educational assignments</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:00-15:30
                    </th>
                    <td class="scheduled-title">
                      Coffee
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:30-17:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-discussion">SciComm & Outreach as an Early Career Astronomer + Effective science outreach</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      17:00-18:00
                    </th>
                    <td class="scheduled-title">
                      Yoga practice
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      17:00-20:00
                    </th>
                    <td class="scheduled-title">
                      Group Dinner - Barbecue
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      20:00-21:00
                    </th>
                    <td class="scheduled-title">
                      Plenary <br />
                      <small>Updates from each hacking group</small>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      21:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Hike <br />
                      <small>For those who are interested, we will hike down the mountain to Altstadt.</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Thu</small> 23</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-10:45
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">Introduction to Git</span><hr>
                      <span class="scheduled-discussion">Sustainability in Astronomy</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      10:45-11:00
                    </th>
                    <td class="scheduled-title">
                      Coffee
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      11:00-12:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">A Crash Course in Teaching for PhDs</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:00-13:00
                    </th>
                    <td class="scheduled-title">
                      Lunch
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      13:00-14:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">Introduction to PyGAD — analyzing cosmological simulations and more!</span>
                      <hr>
                      <span class="scheduled-discussion">From closed source to open source</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      14:00-15:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-discussion">Observing proposals: dos and dont's</span>
                      <hr>
                      <span class="scheduled-discussion">Do we trust Black Boxes in Astrophysics?</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:00-15:30
                    </th>
                    <td class="scheduled-title">
                      Coffee
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:30-16:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">Podcast</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:00-17:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">Reproducible research environments</span>
                      <hr>
                      <span class="scheduled-discussion">Astrobites: A global outreach collab of PhD students</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      17:00-18:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-discussion">Mental health in Academia</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      18:00-18:30
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">Meditation practice</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      18:30-19:00
                    </th>
                    <td class="scheduled-title">
                      Plenary <br />
                      <small>Updates from each hacking group</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Fri</small> 24</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-11:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-discussion">Navigating challenges as an international PhD student!</span>
                      <hr>
                      <span class="scheduled-discussion">AI tools in our research</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      11:00-12:00
                    </th>
                    <td class="scheduled-title">
                      <span class="scheduled-session">What to do after your PhD?</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:00-13:00
                    </th>
                    <td class="scheduled-title">
                      Lunch
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      13:00-16:30
                    </th>
                    <td class="scheduled-title">
                      Projects raised during the Hackathon
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:30-17:00
                    </th>
                    <td class="scheduled-title">
                      Closing remarks
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
