<section id="schedule" class="schedule container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card my-3">
        <div class="card-body">
          <h3 class="card-title text-center text-uppercase">
            <b>{{ i18n "schedule" }}</b>
          </h3>
          <div style="text-align: center; margin-bottom: 20px;">
            This schedule is only preliminary and subject to change.
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Tue</small> 21</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      18:00-20:00
                    </th>
                    <td class="scheduled-title">
                      Conference dinner
                    </td>
                  </tr>

                  <tr>
                    <th class="scheduled-time">
                      20:00-21:00
                    </th>
                    <td class="scheduled-title">
                      Flash Talks<br />
                      <small>We will have a round of flash talks for everyone to introduce themselves and their
                        projects.</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Wed</small> 22</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-10:30
                    </th>
                    <td class="scheduled-title">
                      Welcome and Introduction
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      10:30-12:00
                    </th>
                    <td class="scheduled-title">
                      Parallel Tutorials #1 <br />
                      <small>TBA</small>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:00-12:30
                    </th>
                    <td class="scheduled-title">
                      Icebreaker - "Find a collaborator"
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:30-13:30
                    </th>
                    <td class="scheduled-title">
                      Lunch
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      13:30-15:00
                    </th>
                    <td class="scheduled-title">
                      Hacking Session #1
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:00-15:30
                    </th>
                    <td class="scheduled-title">
                      Coffee
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:30-18:30
                    </th>
                    <td class="scheduled-title">
                      Hacking Session #2
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      18:30-19:30
                    </th>
                    <td class="scheduled-title">
                      Plenary <br />
                      <small>Updates from each hacking group</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Thu</small> 23</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-12:00
                    </th>
                    <td class="scheduled-title">
                      Hacking Session #3
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:00-13:00
                    </th>
                    <td class="scheduled-title">
                      Lunch
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      13:00-15:00
                    </th>
                    <td class="scheduled-title">
                      Parallel Tutorials #2 <br />
                      <small>TBA</small>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:00-15:30
                    </th>
                    <td class="scheduled-title">
                      Coffee
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:30-17:00
                    </th>
                    <td class="scheduled-title">
                      Hacking Session #4
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      17:00-20:00
                    </th>
                    <td class="scheduled-title">
                      Group Dinner - Barbecue
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      20:00-21:00
                    </th>
                    <td class="scheduled-title">
                      Plenary <br />
                      <small>Updates from each hacking group</small>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      21:00-22:00
                    </th>
                    <td class="scheduled-title">
                      Hike <br />
                      <small>For those who are interested, we will hike down the mountain to Altstadt.</small>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-3">
              <header>
                <div class="event-primary-text"><small>Fri</small> 24</div>
                <div>
                  <b>May</b>
                </div>
              </header>
            </div>
            <div class="col-sm-9">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <th class="scheduled-time">
                      10:00-12:00
                    </th>
                    <td class="scheduled-title">
                      Parallel Tutorials #3 <br />
                      <small>TBA</small>
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      12:00-13:00
                    </th>
                    <td class="scheduled-title">
                      Lunch
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      13:00-15:00
                    </th>
                    <td class="scheduled-title">
                      Hacking Session #5
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      15:00-16:30
                    </th>
                    <td class="scheduled-title">
                      Networking workshop
                    </td>
                  </tr>
                  <tr>
                    <th class="scheduled-time">
                      16:30-17:00
                    </th>
                    <td class="scheduled-title">
                      Final presentations and closing remarks
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>